@charset "UTF-8";
/*Переменные*/
/*$secondCOlor: ;*/
/*Центрирование эллемента*/
/*Бордер*/
/*Медизапросы*/
/*1248px*/
@media only screen and (max-width: 1248px) {
  .sec2Items ul li {
    padding: 30px 0; } }

/*1024px*/
@media only screen and (max-width: 1024px) {
  .midTitle span {
    font-size: 54px; }
  .midSubtitle span {
    font-size: 120px; }
  .sec2Items ul li {
    padding: 20px 0; }
  .sec6Info {
    width: 100%; } }

/*768px*/
@media only screen and (max-width: 868px) {
  .upper {
    display: !important none; }
  .showUpper {
    display: none; }
  .sec5 {
    padding-bottom: 50px; }
  .sec6Wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    .sec6Wrapper .sec6Photo {
      width: 20%;
      margin: 0 auto; }
  .sec6InfoTitle {
    font-size: 18px; }
  .headerMid {
    margin-top: 60px; }
  .midTitle span {
    font-size: 34px; }
  .arrow, .arrowClose {
    right: 20px; }
  .midSubtitle span {
    font-size: 90px;
    line-height: 10px; }
  .sec2Items ul {
    padding: 0; }
    .sec2Items ul li {
      font-size: 12px; }
      .sec2Items ul li .num {
        font-size: 42px;
        margin-bottom: 5px; }
  .midCont .iPan img {
    width: 80%; }
  .midCont .iPhone {
    right: -40px; }
    .midCont .iPhone img {
      width: 80%; }
  .sec5Mid {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .sec5Mid .sec5Photo {
      width: 90%; }
    .sec5Mid .accordion {
      padding-left: 0;
      margin-top: 10px;
      width: 100%; }
  .secTitle {
    margin-top: 50px; }
  .footerWrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footerWrapper .footerTopContent3 {
      width: 50%;
      margin-left: 0; }
  .sec1 .sec1Items {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .sec1 .sec1Items .item1,
    .sec1 .sec1Items .item2,
    .sec1 .sec1Items .item3 {
      width: 80%; }
  .mans {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .mans .man {
      margin-left: 0;
      margin-right: 0;
      width: 100%; } }

@media only screen and (max-width: 640px) {
  .botItems {
    display: none; }
  .sec8MidItems {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .headerMid {
    margin-top: 60px; }
  .midTitle span {
    font-size: 34px; }
  .midSubtitle span {
    font-size: 54px;
    line-height: 10px; }
  .sec2Items ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .sec2Items ul li {
      padding: 20px;
      width: 100%;
      font-size: 16px;
      border: 1px solid white;
      border-left: none;
      border-right: none; }
      .sec2Items ul li .num {
        font-size: 52px; }
  .sec4 .sec4Wrapper .midCont {
    width: 90%; }
    .sec4 .sec4Wrapper .midCont .iPhone {
      width: 40%;
      right: 50px; }
      .sec4 .sec4Wrapper .midCont .iPhone img {
        width: 100%; }
  .subsribe form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .subsribe .btn {
    margin-left: 0; }
  .footerWrapper {
    margin: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footerWrapper .footerTopContent3 {
      margin-top: 10px;
      width: 80%;
      margin-left: 0; } }

/*550px*/
@media only screen and (max-width: 550px) {
  .secTitle {
    font-size: 22px; }
  .secSubtitle {
    font-size: 15px; }
  .midSubtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .midSubtitle span {
      margin-top: 20px;
      font-size: 50px;
      line-height: 60px; }
  .top ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .top ul li {
      max-width: none; }
  .bot {
    display: none; }
  .footerWrapper {
    margin: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footerWrapper .footerTopContent2 {
      display: none; }
    .footerWrapper .followUs {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .footerWrapper .followUsLink .fb:first-child {
      margin-left: 0; }
    .footerWrapper .footerTopContent3 {
      width: 80%;
      margin-left: 0; }
  .headerWrapper .headerTop {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .headerWrapper .headerTop .nav {
      display: none; }
    .headerWrapper .headerTop .logo .menu-toggle {
      display: block; }
  .headerWrapper .midBtn:before {
    margin-bottom: 40px;
    margin-top: 30px; }
  .headerWrapper .headerMid {
    padding-bottom: 20px; } }

/*480px*/
@media only screen and (max-width: 480px) {
  .midCont .iPan {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .midCont .iPan img {
      width: 80%; }
  .midCont .iPhone {
    bottom: -70px; }
  .footerWrapper {
    width: 90%; }
    .footerWrapper .footerTopContent {
      margin-right: 0;
      width: 100%; }
    .footerWrapper .contentTitle {
      font-size: 14px; }
    .footerWrapper .followUs {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .footerWrapper .followUsLink .fb:first-child {
      margin-left: 0; }
    .footerWrapper .footerTopContent3 {
      width: 100%;
      margin-left: 0; } }

/*400px*/
@media only screen and (max-width: 400px) {
  .footerWrapper {
    margin: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footerWrapper .footerTopContent3 {
      width: 100%; } }
