:root {
   --mainColor:#f8fafa;
   --secondColor:#fff;
   --thridColor:#f9fbfb;
   --fourColor:#eaebed;
   --mainColorTxt:#000000;
   --secondColorTxt:#767070;
   --thrifColorTxt:#787878;
   --fourColorTxt:#505050;
   --headerBg:#606060;
}


:root[data-theme='dark'] {
   --mainColor:#f8fafa;
   --secondColor:#fff;
   --thridColor:#f9fbfb;
   --fourColor:#eaebed;
   --mainColorTxt:#45c6bb;
   --secondColorTxt:#767070;
   --thrifColorTxt:#787878;
   --fourColorTxt:#d9d9d9;
   --headerBg:#eff0f2;
}
