@charset "UTF-8";
/*font-family: 'Merriweather', serif;*/
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
/*$secondCOlor: ;*/
/*Шрифты*/
/*Центрирование эллемента*/
/*Бордер*/
/*Медизапросы*/
* {
  font-family: 'Montserrat', sans-serif; }

body {
  width: 100%;
  height: 100vh;
  background: rgba(223, 223, 223, 0.5); }

.wrapper {
  margin: 0 auto;
  max-width: 80%; }
  .wrapper h1 {
    text-align: center; }
  .wrapper .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .wrapper .block span {
      display: inline-block;
      border: 1px solid black; }
    .wrapper .block .settings {
      min-width: 35%;
      border: 1px solid black; }
    .wrapper .block .display {
      min-width: 30%;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .wrapper .block .display span {
        font-size: 20px;
        font-weight: 600;
        color: black;
        border: none;
        position: absolute;
        z-index: -1; }
      .wrapper .block .display .box {
        border: 1px solid black;
        width: 200px;
        height: 200px;
        background: #ffd345; }
    .wrapper .block .css {
      z-index: 10;
      min-width: 35%;
      border: 1px solid black;
      position: relative; }
      .wrapper .block .css .cssSettings {
        position: absolute; }

*, *:before, *:after {
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

body {
  font-family: helvetica neue,helvetica,arial,sans-serif;
  font-size: 14px;
  font-weight: 200;
  padding: 50px;
  background: #f6f6f6; }

h1 {
  font-size: 30px;
  text-align: center;
  padding: 0 0 25px 0;
  color: #606060; }

.checkbox-label {
  display: block;
  background: #f3f3f3;
  height: 50px;
  width: 80px;
  border-radius: 50px;
  margin: 50px auto;
  position: relative;
  -webkit-box-shadow: 0 0 0 2px #dddddd;
  box-shadow: 0 0 0 2px #dddddd; }
  .checkbox-label .on {
    display: block;
    position: absolute;
    z-index: 0;
    left: 0;
    opacity: 1;
    min-width: 300px;
    line-height: 50px;
    opacity: 0;
    color: #13bf11; }
  .checkbox-label .off {
    display: block;
    position: absolute;
    z-index: 0;
    right: 100px;
    text-align: right;
    opacity: 1;
    min-width: 300px;
    line-height: 50px;
    opacity: 1;
    color: #bbbbbb; }
  .checkbox-label:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background: white;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd; }

.checkbox {
  position: absolute;
  left: -5000px; }
  .checkbox:checked + .checkbox-label {
    background: #13bf11;
    -webkit-box-shadow: 0 0 0 2px #13bf11;
    box-shadow: 0 0 0 2px #13bf11; }
    .checkbox:checked + .checkbox-label .on {
      left: 100px;
      opacity: 1; }
    .checkbox:checked + .checkbox-label .off {
      right: 0px;
      opacity: 0; }
    .checkbox:checked + .checkbox-label:before {
      left: 30px;
      -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #13bf11;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #13bf11; }

.checkbox.blue {
  position: absolute;
  left: -5000px; }
  .checkbox.blue + .checkbox-label .on {
    color: #1fc1c8; }
  .checkbox.blue:checked + .checkbox-label {
    background: #1fc1c8;
    -webkit-box-shadow: 0 0 0 2px #1fc1c8;
    box-shadow: 0 0 0 2px #1fc1c8; }
    .checkbox.blue:checked + .checkbox-label .on {
      left: 100px;
      opacity: 1; }
    .checkbox.blue:checked + .checkbox-label .off {
      right: 0px;
      opacity: 0; }
    .checkbox.blue:checked + .checkbox-label:before {
      left: 30px;
      -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #1fc1c8;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #1fc1c8; }

.hide {
  display: none !important; }
