@import "mixins.scss";

/*1248px*/
@include mq('desktop') {}

/*1024px*/
@include mq('tablet-wide') {
    .cards {
        justify-content: center;

        .card {
            max-width: 40%;
        }
    }

    .sec3Mid {
        flex-direction: column;

        .midLeft {
            width: 100%;
            flex-direction: row;
            justify-content: space-evenly;

            img {}
        }

        .midMid {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 10px;

            .midTitle {
                text-align: center;


            }

            .midTitle:after {
                margin: 20px auto;
                width: 50%;
            }

            p {
                width: 80%;
                margin: 0 auto;
            }

            .midBtn {
                text-align: center;
            }

        }
    }

    .sec6 {
        .logos {
            flex-wrap: wrap;
            justify-content: flex-start;

            img {
                margin: 5px;
            }

        }
    }
    .showHeaderForm{
        left: 25%;
    }

}

/*768px*/
@include mq('tablet') {
    .navgation {
        display: flex !important;
    }

    .headerTop {
        nav {
            display: none;
        }
    }

    .sec2 {
        .sec2Items {
            .item:nth-child(2n) {
                display: none;
            }

            .item {

                max-width: 100% !important;
            }
        }
    }

    .presons {
        flex-direction: column;
        align-items: center;

        .preson {
            margin-bottom: 30px !important;
            margin-top: 30px !important;
        }
    }

    .sec6 {
        .logos {
            justify-content: center;
        }
    }

}

/*640*/
@include mq('tablet-small') {
    .headerform {
        display: none;

    }
    .showHeaderForm{
        left: 10%;
    }

    .form {
        margin: 0 auto;
    }

    .openBtn {
        display: block;
    }

    .sec5Items {
        flex-direction: column;
        padding-top: 30px !important;

        .sec5Item {
            margin-top: 20px;
            width: 100% !important;
        }
    }
}

/*550px*/
@include mq('phablet') {
    .card {
        max-width: 100% !important;
        min-width: 100% !important;
    }

    .midLeft {
        img {
            max-width: 80px !important;
            height: auto;
        }
    }


}

/*480px*/
@include mq('phone-wide') {
    .sec3 {
        .midRight {
            img {
                width: 100%;
                max-width: 100%;
                height: 10% !important;
                
            }
        }
    }
    .showHeaderForm{
        left: 0;
        width: 100%;
    }

    header {
        .headerTitle {
            .title{
                font-size: 40px !important;
            }
            .subtitle{
                font-size: 14px !important;
            }
        }
    }
    .openBtn{
        width: 100%;
    }

}

/*400px*/
@include mq('phone') {
    header {
        .headerTitle {
            .title{
                font-size: 30px !important;
            }
            .subtitle{
                font-size: 12px !important;
                line-height: 16px !important;
            }
        }
    }
}