.modal {
	transform:scale(1);
    position: absolute;
    z-index: 5;
    width: 100%;
    background: rgba(163, 163, 163, 0.95);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .modalWrapper{
    	position: relative;
    	.close{
    	position: absolute;
    	font-size:30px;
    	top: 10px;
    	right: 10px;
    	cursor:pointer;
    }
    }

    nav {
        width: 100%;
        ul {
            width: 100%;
            li {
                text-align: center;
                width: 100%;
                display: inline-flex;
                padding: 30px 20px;
                font-size: 38px;
                font-weight: 600;
                font-style: normal;
                text-transform: uppercase;
                &:after {
                    margin-top: 10px;
                    content: '';
                    width: 0%;
                    height: 2px;
                    border: 1px solid transparent;
                }

                a {
                    width: 100%;
                    color: #3f3f3f;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    transition: 0.5s;
                    &:after {
                        transition: 0.5s;
                        content: '';
                        margin: 10px auto;
                        border: 1px solid #fff;
                        transform: scale(0);
                        


                    }
                }

            }
            li:hover{
                	a:after{
                	transform:scale(1);
                	width: 50%;
                	border: 1px solid #fff;
                }
                a{
                	color:#fff;
                }
            }

        }
    }
}

.hide {
    transform:scale(0);
}