@import "mixins.scss";

/*1248px*/
@include mq('desktop') {}

/*1024px*/
@include mq('tablet-wide') {}

/*768px*/
@include mq('tablet') {
    .rightP {
        font-size: 12px !important;
        line-height: 20px !important;

    }

    .item1,
    .item2 {
        background-size: cover !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
    }

    .sliderBtn {
        bottom: 0;
    }

    .sliderItem {
        .photo {
            width: 50% !important;
        }

        .description {
            width: 70% !important;
            height: none !important;
            padding: 50px !important;
        }
    }

    .menuItems {
        font-size: 40px;

    }

    .close {
        right: 0;
    }

}

/*640*/
@include mq('tablet-small') {

    .block1,
    .block2,
    .block3 {

        .item1,
        .item2 {
            .blockTitle {
                font-size: 16px !important;
                padding-top: 50px;
                padding-left: 20px;
            }

            .blockSubtitle {
                font-size: 13px !important;
                padding-top: 10px;
                padding-left: 20px;
            }
        }
    }

    .contentBlocks {
        .block {
            width: 45%;
        }
    }

    .sec2Items {
        .item {
            width: 100%;
            max-width: none !important;
            max-height: none !important;
        }
    }

    .sec1 {
        max-height: none;
    }

    .sec1Mid {
        display: flex;
        flex-direction: column;

        .sec1Left {
            width: 100%;

            .img {
                width: 100%;
                img{
                    width: 85%;
                }


            }
        }
        .rightTitle{
            text-align:center;
        }

        .sec1Right {
            width: 100%;

            width: none;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .footerWrapper {
        flex-direction: column;

        .formrecall {
            width: 100%;
            padding-bottom: 10px;
        }

        .adressBlock {
            margin-top: 10px;
            width: 100%;
        }
    }
}

/*550px*/
@include mq('phablet') {

    .block1,
    .block2,
    .block3 {
        flex-direction: column !important;
        max-height: none;

        .item1,
        .item2 {
            width: 100% !important;
        }
    }
    .rightP{
        padding: 10px; 
    }
    .rightTitle{
        padding-bottom:  10px !important;
    }
    .title{
        line-height: 35px;
    }
}

/*480px*/
@include mq('phone-wide') {
    .secTitle{
        padding-bottom: 50px;  
    }
    .sec4Content{
        padding-bottom:  50px;
    }
    .info{
        padding: 5px !important;   
    }
    .spins {
        flex-direction: column;
    }

    .spin {
        border-left: none !important;
        width: 100% !important;
        font-size: 20px !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        border-bottom: 1px solid rgba(200, 200, 200, 1);

        .nu {
            font-size: 72px !important;
            line-height: 70px !important;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    .sliderItem {
        flex-direction: column;

        .photo {
            order: 2 !important;
            width: 100% !important;
        }

        .description {
            width: 100% !important;
        }
    }


.menuItems {
    font-size: 30px;

}

.close {
    right: 0;
}
}

/*400px*/
@include mq('phone') {
    .info{
        padding: 3px !important;   
        .infoTitle{
            span{
                font-size: 16px;
                width: 100%;    
                display: block;
            }

            font-size: 14px;
        }
        .infoSubtitle{
                font-size: 14px;
                padding-top: 10px;  
            }
    }
    .modalMenu{
        padding: 5px; 
    }
    .menuItems {
    font-size: 22px;

}

.close {
    right: 0;
}
}