@charset "UTF-8";
/*$secondCOlor: ;*/
/*Шрифты*/
/*Центрирование эллемента*/
/*Бордер*/
/*Медизапросы*/
/*1248px*/
@media only screen and (max-width: 1248px) {
  #fm1 label {
    max-width: 200px;
    max-height: 200px; } }

/*1024px*/
@media only screen and (max-width: 1024px) {
  header .headerWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0; }
  header .headerLeft {
    max-width: 100% !important;
    text-align: center; }
    header .headerLeft .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    header .headerLeft .title {
      text-transform: uppercase;
      width: 90%;
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 10px; }
      header .headerLeft .title h1 {
        font-size: 50px; }
    header .headerLeft .description {
      width: 70%;
      margin: 0 auto; }
  header .headerRight {
    min-width: 10% !important;
    max-width: 100% !important; }
    header .headerRight .info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
  .sec1 {
    padding-top: 40px; } }

/*868px*/
@media only screen and (max-width: 868px) {
  .contentBtn {
    margin-top: 0 !important; } }

/*768*/
@media only screen and (max-width: 768px) {
  .projectSlider2 {
    max-height: 2000px !important;
    overflow: auto !important; }
    .projectSlider2 .projectSlide {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .projectSlider2 .projectSlide .leftSlide {
        float: none !important;
        max-width: 100% !important; }
    .projectSlider2 .content {
      padding-top: 20px;
      padding-left: 10px; }
      .projectSlider2 .content div {
        padding-left: 0 !important;
        margin-left: 0 !important; }
      .projectSlider2 .content .projectName {
        padding-top: 20px !important; }
      .projectSlider2 .content .price {
        padding-top: 20px !important; }
      .projectSlider2 .content .contentBtn {
        margin-top: 20px !important;
        padding-left: 30px !important; }
  .projectSlider {
    max-height: 2000px !important;
    overflow: auto !important; }
    .projectSlider .projectSlide {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .projectSlider .projectSlide .leftSlide {
        float: none !important;
        max-width: 100% !important; }
    .projectSlider .content {
      padding-top: 20px;
      padding-left: 10px; }
      .projectSlider .content div {
        padding-left: 0 !important;
        margin-left: 0 !important; }
      .projectSlider .content .projectName {
        padding-top: 20px !important; }
      .projectSlider .content .price {
        padding-top: 20px !important; }
      .projectSlider .content .contentBtn {
        margin-top: 20px !important;
        padding-left: 30px !important; }
  /*КВИЗ*/
  .sec3MidLeft {
    padding: 15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  #fm label {
    max-width: 200px;
    max-height: 200px; }
  #fm1 label {
    max-width: 150px;
    max-height: 150px; }
  #fm2 label {
    max-width: 200px;
    max-height: 200px; }
  #fm3 label {
    max-width: 200px;
    max-height: 200px; }
  .sec8 .sec8Wrapper .otherBlocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .sec8 .sec8Wrapper .otherBlock {
    width: 80%; }
  .sec5 .sec5Title {
    text-align: center; }
  .sec5Items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .sec5Items .sec5Item {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 80%;
      text-align: center;
      padding-bottom: 20px; }
      .sec5Items .sec5Item .itemSubtitle {
        width: 70%; } }

/*640*/
@media only screen and (max-width: 640px) {
  .projectDesc {
    width: 80%; }
  .miniImg {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .miniBox .contentBtn {
    padding: 10px 8px !important; }
  .sec7Items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .sec7Items .sec7Item {
      max-width: 500px;
      border: 3px solid rgba(71, 71, 71, 0.8);
      margin-bottom: 20px; }
    .sec7Items #sec7item {
      padding-top: 20px; }
    .sec7Items #sec7item2 {
      padding-bottom: 20px; }
  .footerWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footerWrapper .formrecall {
      width: 100%; }
    .footerWrapper .adressBlock {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      width: 100%;
      margin-bottom: 10px; }
  .stockItem {
    min-height: 350px !important; }
    .stockItem .stockRight {
      display: none !important; }
  .spinItems ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .spinItems ul li {
      border: none; }
      .spinItems ul li .nu {
        font-size: 70px !important; }
      .spinItems ul li span {
        font-size: 30px; }
  .miniBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .miniBox .miniImg {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      max-width: 90% !important; }
      .miniBox .miniImg img {
        padding: 8px; }
    .miniBox .imgInfo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

/*550px*/
@media only screen and (max-width: 550px) {
  .sec3Mid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .sec3Mid .sec3MidLeft {
      max-width: 100%; }
    .sec3Mid .sec3MidRight {
      max-width: 100%; }
  #fm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #fm label {
      max-width: 200px;
      max-height: 200px; }
  #fm1 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #fm1 label {
      max-width: 150px;
      max-height: 150px; }
  #fm2 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #fm2 label {
      max-width: 150px;
      max-height: 150px; }
  #fm3 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #fm3 label {
      max-width: 150px;
      max-height: 150px; }
  #compl {
    font-size: 30px; } }

/*480px*/
@media only screen and (max-width: 480px) {
  #fm label {
    max-width: 200px;
    max-height: 200px; }
  #fm1 label {
    max-width: 180px;
    max-height: 180px; }
  #fm2 label {
    max-width: 150px;
    max-height: 150px; }
  #fm3 label {
    max-width: 150px;
    max-height: 150px; }
  .inst,
  .yt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
  .times {
    text-align: center; }
    .times .evr {
      font-size: 16px;
      text-decoration: underline; }
  .sec5Title {
    font-size: 30px; } }

/*400px*/
@media only screen and (max-width: 400px) {
  .rh2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .rh2 .contacts {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1; }
  .headerWrapper .title h1 {
    font-size: 25px !important; }
  #compl {
    font-size: 15px; }
  .sec6Title {
    font-size: 24px;
    text-align: center; }
  .sec4Wrapper .title {
    font-size: 30px;
    padding-right: 10px; }
  .stockItem {
    max-height: 500px; }
    .stockItem .stockLeft .date {
      padding: 10px; }
    .stockItem .stockLeft .stockValue {
      padding: 10px; }
    .stockItem .stockLeft .stockOn {
      padding: 10px; }
  .sec5Title {
    font-size: 24px; }
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    ul li {
      border: none; }
      ul li .nu {
        font-size: 30px !important; }
      ul li span {
        font-size: 20px !important; }
  #fm label {
    max-width: 150px;
    max-height: 150px; }
  #fm1 label {
    max-width: 150px;
    max-height: 150px; }
  #fm2 label {
    max-width: 150px;
    max-height: 150px; }
  #fm3 label {
    max-width: 150px;
    max-height: 150px; } }
